<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create overview</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/beautiful.css}" />
</head>
<body>
<div class="navbar">
    <a href="/salesoverview">Sales Overviews</a>
    <a href="/schedule/">Work schedule</a>
    <a href="/user/displayUsers">Users</a>
</div>

<div id="wrapper">


    <form method="post" th:action="@{/saveSalesOverview}" th:object="${salesoverview}"  >


        <div class="inputPair">
            <label>Date</label>
            <input type="date" id="date" name="date" th:field="*{date}"/>
        </div>

        <div class="inputPair">
            <label>Credit</label>
            <input type="number" min="0" max="1000000" step="0.01" value="" th:field="*{credit}" />
        </div>

        <div class="inputPair">
            <label>Cash</label>
            <input type="number" min="0" max="1000000" step="0.01" value="" th:field="*{cash}" />
        </div>

        <div class="inputPair">
            <label>Till</label>
            <input type="number" min="0" max="1000000" step="0.01" value="" th:field="*{till}" />
        </div>

        <div class="inputPair">
            <label>Vault</label>
            <input type="number" min="0" max="1000000" step="0.01" value="" th:field="*{vault}" />
        </div>

        <div class="inputPair">
            <label>Comment</label>
            <input type="text" placeholder="comment" th:field="*{comment}">
        </div>


        <input type="submit" value="Submit">

    </form>



</div>

</body>
</html>