<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Sales Overviews</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/beautiful.css}" />
</head>
<body>

<div class="navbar">
    <a href="/salesoverview">Sales Overviews</a>
    <a href="/schedule/">Work schedule</a>
    <a href="/user/displayUsers">Users</a>
</div>

<div id="wrapper">
    <h1>Sales overviews</h1>

    <div id="menu">
    <a href="/salesoverview/createoverview">Create Sales Overview</a>
    </div>

    <table>
        <thead>
            <th class="">Date</th>
            <th class="alignRight">Card</th>
            <th class="alignRight">Cash</th>
            <th class="alignRight">Till</th>
            <th class="alignRight">Vault</th>
            <th>Comment</th>
            <th class="alignRight">Total</th>
            <th class="slimmer"></th>
            <th class="slimmer"></th>
        </thead>

        <tbody>

        <tr th:each="salesoverview : ${salesoverviews}" >

            <td class="alignCenter">
                <a th:href="@{/displaySalesOverview(id=${salesoverview.salesOverviewId})}" > <p th:text="${salesoverview.date}"/> </a>
            </td>
            <td class="alignRight" th:text="${salesoverview.credit}"/>
            <td class="alignRight" th:text="${salesoverview.cash}"/>
            <td class="alignRight" th:text="${salesoverview.till}"/>
            <td class="alignRight" th:text="${salesoverview.vault}"/>
            <td id="comment" th:text="${salesoverview.comment}"/>
            <td class="alignRight" th:text="${salesoverview.total}"/>

            <td class="alignCenter"><a th:href="@{/deleteSalesOverview(id=${salesoverview.salesOverviewId})}"> &#10006; </a> </td>
            <td class="alignCenter"><a th:href="@{/updateSalesOverview(id=${salesoverview.salesOverviewId})}"> <img src="https://image.flaticon.com/icons/svg/61/61456.svg" width="20" height="35"> </a> </td>

        </tbody>
    </table>

</div>

</body>
</html>