<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Schedules</title>
</head>
<body>

<style>

    *{
        font-family: Arial;
    }
    #calendar{
        background: green;
        width: 700px;
    }

    .day{
        background: darkgreen;
        width: 98px;
        height: 98px;
        float: left;
        border: 1px solid black;
    }
    #calendarHead div{
        background: red;
        height: 50px;
        font-weight: bold;
    }


</style>


<div class="wrapper">

    <div id="calendar">
        <span id="calendarHead">
            <div class="day">Monday</div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
            <div class="day">Saturday</div>
            <div class="day">Sunday</div>
        </span>

        <div class="day" th:each="schedule : ${schedules}">
            <p th:text="${schedule.scheduleDate.dayOfMonth}" />
            <span th:text="${schedule.openingTime} " /> - 
            <span th:text="${schedule.closingTime} " />



        </div>






    </div>


</div>



</body>
</html>