:root{
    --color: #6e6eff;
    --color-light1: #c8c8ff;
    --color-light2: #d2d2ff;
    --color-light3: #dcdcff;
    --color-light4: #e6e6ff;
    --color-light5: #f0f0ff;
    --color-light6: #fafaff;
    --color-lightest: #FFFFFF;
    --color-darkest: #000000;
}
* {
    font-family: arial;
}
body {
    background: var(--color-light1);
}
a, a:visited, a:hover, a:active{
    color: var(--color-darkest);
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width:100%;
}
th {
    background: var(--color);
    color: var(--color-lightest);
    font-weight: bold;
}
td {

    padding: 0 10px 0 10px;
}
tr:nth-child(even) {
    background: var(--color-light4);
}
tr:nth-child(odd) {
    background: var(--color-light5);
}
tr:hover{
    background: var(--color-light6);
}
.slim{
    width:8%;
}
.slimmer{
    width:4%;
}

.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align: center;
}

.blockLink{
    display: block;
}

#wrapper{
    margin-top: 50px;
    padding: 0 15px 15px 15px;
    background: var(--color-lightest);
}

#comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}

#menu{
    margin: 15px 0 15px 0;
}
#menu a{
    padding: 5px;
    color: var(--color-lightest);
    border: 2px solid var(--color);
    background-color:  var(--color);
    border-radius: 7px;
}
#menu a:hover{
    background: var(--color-light1);
}

/* The navigation bar */
.navbar {
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}