
* {
    font-family: arial;
}
body {
    background: #c8c8ff;
}
a, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width:100%;
}
th {
    background: #6e6eff;
    color: white;
    font-weight: bold;
}
td {

    padding: 0 10px 0 10px;
}
tr:nth-child(even) {
    background: #f5f5ff;
}
tr:nth-child(odd) {
    background: #ebebff;
}
tr:hover{
    background: #fafaff;
}
.slim{
    width:8%;
}
.slimmer{
    width:4%;
}

.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.alignCenter{
    text-align: center;
}

.blockLink{
    display: block;
}

#wrapper{
    margin-top: 50px;
    padding: 0 15px 15px 15px;
    background: #FFFFFF;
}

#comment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}

#menu{
    margin: 15px 0 15px 0;
}
#menu a{
    padding: 5px;
    color: white;
    border: 2px solid #6e6eff;
    background-color: #6e6eff;
    border-radius: 7px;
}
#menu a:hover{
    background: #8585ff;
}

/* The navigation bar */
.navbar {
    margin-left: -8px;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}