<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Createoverview</title>
</head>
<body>

<div class="wrapper">

    <form method="post" action="#" th:action="@{/saveSalesOverview}" th:object="${SalesOverview}"  >
        <input type="number" min="0" max="100000" step="1" value="2016" th:field="*{credit}" />
        <input type="number" min="0" max="100000" step="1" value="2016" th:field="*{cash}" />
        <input type="number" min="0" max="100000" step="1" value="2016" th:field="*{till}" />
        <input type="number" min="0" max="100000" step="1" value="2016" th:field="*{vault}" />




        <input type="submit" value="Submit">

</div>

</body>
</html>