<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Createoverview</title>


    <style>

        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

    </style>

</head>
<body>

<div class="wrapper">

    <form method="post" th:action="@{/saveSalesOverview}" th:object="${salesoverview}"  >

        <p>Date</p>
        <input type="date" id="date" name="date" th:field="*{date}"/>

        <p>Cash</p>
        <input type="number" min="0" max="1000000" step="1" value="" th:field="*{cash}" />

        <p>Credit</p>
        <input type="number" min="0" max="1000000" step="1" value="" th:field="*{credit}" />

        <p>Till</p>
        <input type="number" min="0" max="1000000" step="1" value="" th:field="*{till}" />

        <p>Vault</p>
        <input type="number" min="0" max="1000000" step="1" value="" th:field="*{vault}" />

        <input type="submit" value="Submit">

    </form>



</div>

</body>
</html>