<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salesoverview</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <style>
        .headline{
            font-size: 70px;
            text-align: center;
        }
    </style>

</head>
<body>

<div class="container" >

    <div class="row">
        <div class="col-md-12">
            <h1 class="headline">Sales overview</h1>
        </div>
    </div>

    <a href="createoverview.html">Create Sales Overview</a>


</div>


</body>
</html>